rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    
    match /users/{semester}/{stream}/{uid} {
      allow read: if (request.auth.uid == uid) ;
      allow create: if (request.auth.uid == uid && resource == null) ;
    	allow read, write: if (request.auth.uid == uid && ! ("final-submit" in resource.data))
    }
  }
}